@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}
:root {
  --teal: rgba(26, 130, 130, 1);
  --light-blue: rgba(94, 126, 210, 0.2);
  --light-green: rgba(86, 177, 160, 0.2);
  --light-purple: rgba(134, 141, 181, 0.2);
}

.text-teal {
  color: var(--teal);
}
.bg-teal {
  background-color: var(--teal);
}
.bg-purple {
  background-color: var(--light-purple);
}
.bg-green {
  background-color: var(--light-green);
}
.bg-blue {
  background-color: var(--light-blue);
}
.border-teal {
  border-color: var(--teal);
}
.shadow-custom {
  box-shadow: 1px 1px 10px rgba(182, 182, 182, 0.25);
}
.layout {
  display: grid;
  grid-template-columns: 1fr 4fr 1.2fr;
}

.btn-custom {
  background-color: #549a9a;
}
.btn-custom:hover {
  background-color: var(--teal);
}

.btn-effect {
  transition: all 0.1s ease;
}
.btn-effect:hover {
  transform: translateY(-2px);
}
.btn-effect:active {
  transform: translateY(1px);
}

@media screen and (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
